# تجاهل الملفات الخاصة بالـ Node.js
node_modules/
npm-debug.log

# تجاهل ملفات البيئة التي تحتوي على الأسرار
.env.local

# تجاهل قاعدة البيانات المحلية
database.db

# تجاهل الملفات المؤقتة لنظام التشغيل
.DS_Store